@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>File Sharing System</h1>
    <p class="lead">In today's time when file sharing is the biggest issues that everyone faces</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Leave your file sharing worries at the door.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What It Does?</h2>
        <p>Secures the online file sharing process</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What's Next ?</h2>
        <p>More Features Just Round The Corner</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>